@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&family=Comfortaa:wght@300;400;500;600;700&family=Finger+Paint&display=swap');

@font-face {
  font-family: "Digitron";
  src:
    url("../assets/fonts/DigitronFontRegular.woff2") format("woff2"),
    url("../assets/fonts/DigitronFontRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
